<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>

        1963 Sovjet vill också – här är alla ”internet” som aldrig förverkligas
    </h1>
    <h2>

        Det är inte bara i USA som planer smids för att konstruera ett större datornätverk. Samma idéer finns på flera
        håll i världen.
    </h2>
    <h3>

        1962-1970 • Sovjetunionen: OGAS
    </h3>
    <img src="/ogas-504x459.png" alt="OGAS logotyp." srcset="">

    <p>

        Året före JCR Licklider beskriver sina idéer om ett ”intergalaktiskt nätverk”, som senare kommer att utvecklas
        till det som är internet, presenterar ryssen Viktor Glushkov en liknande plan. Projektet heter OGAS (en
        förkortning som på svenska ungefär betyder ”hela statens automatiska system”), och påminner till stor del om
        internet.
    </p>
    <p>

        Redan 1959 har ett liknande projekt lagts ner (initierat av Anatolij Kitov), som syftade till att automatisera
        ekonomiska uppgifter, då militären varit oroliga för att de skulle behöva överlämna viktig information till
        civila ekonomiska planerare.
    </p>
    <p>

        OGAS är något annat och ska vara uppdelat i tre lager, tänker sig Viktor Glushkov. Nätverket ska styras från
        Moskva, med 200 centraler på medelnivå och 20 000 inkopplade datorer runt om i Sovjetunionen. Dessa ska kunna
        kommunicera med varandra decentraliserat – alltså utan att gå vägen via Moskva. Allt sammankopplat via
        telefonledningar.
    </p>
    <p>

        Visionerna är större än så, i framtiden vill han koppla ihop alla länder i Europa och Asien i nätverket. Varenda
        fabrik och vartenda kontor skulle var uppkopplat. Perfekt för en planekonomi, tyckte Glushkov. Genom nätverket
        skulle man även kunna göra betalningar, utan att använda fysiska pengar.
    </p>
    <p>

        Men projektet förverkligas inte, eftersom Viktor Glushkov i oktober 1970 helt enkelt inte får vidare
        finansiering till sin satsning. Finansministern säger nej. Då har amerikanarna redan startat Arpanet, som kommer
        att bli det vi i dag kallar internet. Glushkov arbetar vidare och föreslår nya, liknande, satsningar, men även
        dessa nobbas av kommunistpartiet.
    </p>
</body>

</html>